<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html lang="en">
    <link rel="stylesheet" href="/styles.css">
    <script src="/recipe-vault.plugin.js"></script>
    <title>Recipe Vault | <%= title %></title>
  </head>