<nav>
    <div class="site-title">
      <a href="/"><h1>Recipe Vault</h1></a>
      <p>No fluff just recipes</p>
    </div>
    <ul>
      <li class="nav-item"><a href="/">Recipes</a></li>
      <li class="nav-item"><a href="/about">About</a></li>
      <li class="nav-item"><a href="/recipes/create">New Recipe</a></li>
    </ul>
  </nav>