<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="error content">
    <h2>Error: <%= error %></h2>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>