<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-recipe content">
    <div id="title-container">
      <h4 class="create-recipe-heading">Title</h4>
      <input type="text" id="title" name="title" form="create-recipe" placeholder="Enter Title">
    </div>

    <table id="ingredient-table">
      <tr>
        <th align="left" class="create-recipe-heading">Quantity</th>
        <th align="left" class="create-recipe-heading">Ingredient</th>
      </tr>
      <tr>
        <td>
          <input type="text" id="ingredient-quantity" name="ingredient-quantity" form="create-recipe" placeholder="Quantity">
        </td>
        <td>
          <input type="text" id="ingredient-name" name="ingredient-name" form="create-recipe" placeholder="Ingredient">
        </td>
      </tr>
      <tr>
        <td align="left" colspan="2">
          <button id="new-ingredient">Add Ingredient</button>
        </td>
      </tr>
    </table>

    <div id="instructions-container">
      <h4 class="create-recipe-heading">Instructions:</h4>
      <input type="text" id="instructions" name="instructions[]" form="create-recipe" required>
      <button id="new-instruction">Add Step</button>
    </div>

    <form action="/recipes" method="POST" id="create-recipe">
      <button>Submit</button>
    </form>
  </div>

  

  <%- include("./partials/footer.ejs") %>
</body>
</html>