<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-recipe content">
    <form action="/recipes" method="POST" id="create-recipe">
      <label for="title">Recipe title:</label>
      <input type="text" id="title" name="title" required>

      
      
      
      <button>Submit</button>
    </form>
    <table id="ingredient-table">
      <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
      </tr>
      <tr>
        <td>
          <input type="text" id="ingredient-name" name="ingredient-name" form="create-recipe">
        </td>
        <td>
          <input type="text" id="ingredient-quantity" name="ingredient-quantity" form="create-recipe">
        </td>
      </tr>
    </table>
    <button id="new-ingredient">+</button>
    <div id="instructions-container">
      <label for="instructions">Instructions:</label>
      <input type="text" id="instructions" name="instructions[]" form="create-recipe" required>
      <button id="new-instruction">+</button>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>