<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="content">
    <form class="form" action="/user/login" method="post">
      <h1 class="form-title">Login</h1>
      <label for="username">
          Username
      </label>
      <input type="text" name="username" placeholder="Username" id="username" required>
      <label for="password">
          Password
      </label>
      <input type="password" name="password" placeholder="Password" id="password" required>
      <input class = submit type="submit" value="Login">
      <div class="form redirect">
        <p>Need to create an account? <a href="/user/register" style="font-size: 20px;">Register</a></p>
      </div>
    </form>
    
    <% if (errorMessage) { %>
      <div class="error-container">
        <%- errorMessage %>
      </div>
    <% } %>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>