/* Change top menu to hamburger when under a certain width */

*{
    font-family: "Source Sans Pro",sans-serif;
}

body{
    margin: 0px;
    background-color: #FCFDF2;
}
nav{
    display: flex;
    width: 100%;
    background-color: #FFE9B1;
    color: #3B3486;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}

.site-title > a{
    font-size: 48px;
    font-weight: 500;
}

.site-title > p{
    font-style: italic;
    font-size: 24px;
    margin-top: -32px;
}

nav > ul{
    list-style: none;
    display: flex;
    margin-right: 32px;
    padding: 0px 32px;
}

li{
    margin: 0 10px;
    font-size: 32px;
}

a{
    text-decoration: none;
    color: #3B3486;
    opacity: 80%;
}

a:hover{
    opacity: 100%;
    text-shadow: 1px 1px 1px;
}