/* Change top menu to hamburger when under a certain width */
/* button styling */
/* box with border for page content eg. recipe form, recipe details, about */

*{
    font-family: "Source Sans Pro",sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Navigation bar */
nav{
    display: flex;
    margin: 0px;
    background-color: #FFE9B1;
    color: #3B3486;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 32px;
}

.site-title > a{
    font-size: 48px;
    font-weight: 500;
}

.site-title > p{
    font-style: italic;
    font-size: 24px;
}

nav > ul{
    list-style: none;
    display: flex;
    margin-right: 32px;
    padding: 0px 32px;
}

li{
    margin: 0 10px;
    font-size: 32px;
}

/* Links */
a{
    text-decoration: none;
    color: #3B3486;
    opacity: 80%;
    font-size: 24px;
}

a:hover{
    opacity: 100%;
    text-shadow: 1px 1px 1px;
}

/* Content box */
body{
    margin: 0px;
    background-color: #FCFDF2;
    width: 100%;
}

.content{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recipe.content,
.details.content{
    margin-bottom: -18px;
}

.footer{
    height: 50px;
}

/* Create Recipe */
.create-recipe.content{
    margin: 4px;
    padding: 4px;
}

input{
    font-size: 16px;
    padding: 6px 12px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}


#title-container, #instructions-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.create-recipe-heading{
    margin-bottom: 4px;
    font-size: 18px;
}

#ingredient-table{
    margin-bottom: 8px;
}

button{
    font-size: 16px;
    padding: 4px 8px;
    background-color: #7743DB;
    color: white;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 4px;
}

button:hover{
    background-color: #3B3486;
}

#new-instruction{
    align-self: flex-start;
    margin-top: 2px;
}

#instructions{
    margin-bottom: 2px;
}